<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.rainpavilion.mapper.RoleMapper">
	<resultMap id="adminMap" type="com.rainpavilion.entity.shiro.Role">
		<id column="role_id" property="RoleId"/>

		<result column="role_name" property="RoleName"/>
	</resultMap>

	<sql id = "select_sql">
		role_id,role_name
	</sql>

	<select id="selectById" resultMap="adminMap">
		select <include refid="select_sql"></include>
		from role
		where role_id = #{roleId }
	</select>


</mapper>

